* {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    width: 100%;    
}

#button_box {
    z-index: 55;
    top: 40%;
    left: 25%;
    position: absolute;
    border: none;
    height: 20%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    -webkit-animation: buttons_float 1s infinite;
    animation: buttons_float 1s infinite alternate;
}

.button {
    background-color: white;
    border: 3px solid black;
    margin: 20px;
    font-size: 30px;
    border-radius: 5px;
    flex-grow: 2;
    text-decoration: none;
    color: black;
    text-align: center;
}

.button:hover {
    background-color: red;
    color:white;
}

#world {
    height: 100%;
    widows: 100%;
}

#player {
    position: absolute;
}

#sight {
    position: absolute;
}